/* CSS goes here */

#misc-container {
	margin: 10px auto;
	padding: 15px 15px;
	border: 3px solid  #745A7B;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	max-width: 400px;
	font-weight: bold;
	color: #4B4B96;
	-webkit-box-shadow: 7px 7px 10px #97999c;
	-moz-box-shadow: 7px 7px 10px #97999c;
	box-shadow: 7px 7px 10px #97999c;
}

#quote-box {
	margin: 10px auto;
	padding: 15px 15px;
	border: 1px solid  #745A7B;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	max-width: 400px;
	-webkit-box-shadow: 7px 7px 10px #97999c;
	-moz-box-shadow: 7px 7px 10px #97999c;
	box-shadow: 7px 7px 10px #97999c;
	font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size:9pt;
    	position:absolute;
	bottom:0px;
	right:25%;
	left:50%;
	margin-left:-150px;
}

.minun {
	position: absolute;
	top: 50%;
	left: 50%;
}
