/* CSS goes here */

#misc-container {
	margin: 10px auto;
	padding: 15px 15px;
	border: 3px solid  #745A7B;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	max-width: 300px;
	max-height:200px;
	font-weight: bold;
	color: #4B4B96;
	-webkit-box-shadow: 7px 7px 10px #97999c;
	-moz-box-shadow: 7px 7px 10px #97999c;
	box-shadow: 7px 7px 10px #97999c;
	cursor:pointer;
}

.minun {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
